body {
    background-color: black;
    z-index: -1;
}

.me {
    display: block;
    margin: 2em auto;
    margin-bottom: 3em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.social {
    text-align: center;
    font-size: 2.5em;
    color: #555;
    overflow: hidden;
}

.social a {
    color: inherit;
    text-decoration: none;
}

.social i {
    margin: 0em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0);
}

.c {
    color: #29a329;
}

.social i:hover {
    margin-top: 3px;
}

.social i#twitter:hover {
    color: #77ddf6;
}

.social i#github:hover {
    color: #e0e0e0;
}

.social i#linkedin:hover {
    color: #0177b5;
}

.social i#discord:hover {
    color: #0177b5;
}

.social i#instagram:hover {
    color: #0177b5;
}

.social i#youtube:hover {
    color: #0177b5;
}

.social i#code:hover {
    color: #29a329;
}

.social i#stack:hover {
    color: #ed780e;
}

.social i#plus:hover {
    color: #d43402;
}

.social i#mail:hover {
    color: #f7b401;
}